/* GENERAL */
* {
  font-size: 13px;
  color: inherit;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-height: 0;
  transition: none;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-sysmenu,
#tray,
#language,
#custom-media,
#tags,
#pulseaudio,
#battery,
#temperature,
#network,
#clock,
#custom-notifications,
#custom-power {
  margin: 0px 12px;
}

#custom-sysmenu:hover,
#tray:hover,
#language:hover,
#custom-media:hover,
#pulseaudio:hover,
#battery:hover,
#temperature:hover,
#network:hover,
#clock:hover,
#custom-notifications:hover,
#custom-power:hover {
  border-color: @blue;
}

/* SYSMENU */
#custom-sysmenu {
  color: @cyan;
  font-size: 1.2em;
}

/* TRAY */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* LANGUAGE */
#language {
  color: @white;
}

/* MEDIA */
#custom-media {
  color: @magenta;
}

#custom-media.paused {
  color: @bright-black;
}

#custom-media.inactive {
  opacity: 0;
}

/* TAGS */
#tags {
  padding: 0 16px;
}

#tags button {
  padding: 0;
  min-width: 32px;
}

#tags button:not(.focused):not(.occupied) {
  color: @bright-black;
}

#tags button.focused {
  background-color: @blue;
  color: @black;
}

#tags button.urgent {
  color: @bright-magenta;
}

/* PULSEAUDIO */
#pulseaudio.muted {
  color: @bright-black;
}

/* NETWORK */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

/* BATTERY */
#battery.critical:not(.charging) {
  background-color: @red;
}

/* CLOCK */
#clock {
  color: @yellow;
}

/* NOTIFICATIONS */
#custom-notifications.paused {
  color: @bright-black;
}
