/* GENERAL */
* {
  font-size: 13px;
  color: inherit;
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-sysmenu,
#tray,
#language,
#custom-media,
#workspaces,
#pulseaudio,
#battery,
#temperature,
#network,
#clock,
#custom-notifications,
#custom-power {
  padding: 0px 14px;
  background-color: @background;
  border: 3px solid @bright-black;
  border-radius: 14pt;
  transition: border-color 200ms ease-out;
}

#custom-sysmenu:hover,
#tray:hover,
#language:hover,
#custom-media:hover,
#workspaces:hover,
#pulseaudio:hover,
#battery:hover,
#temperature:hover,
#network:hover,
#clock:hover,
#custom-notifications:hover,
#custom-power:hover {
  border-color: @blue;
}

/* SYSMENU */
#custom-sysmenu {
  color: @cyan;
  font-size: 1.3em;
}

/* TRAY */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* LANGUAGE */
#language {
  color: @white;
}

/* MEDIA */
#custom-media {
  color: @magenta;
}

#custom-media.paused {
  color: @bright-black;
}

#custom-media.inactive {
  opacity: 0;
}

/* WORKSPACES */
#workspaces {
  padding: 0 16px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces button.empty:not(.active) {
  color: @bright-black;
}

#workspaces button.urgent {
  color: @yellow;
}

/* PULSEAUDIO */
#pulseaudio.muted {
  color: @bright-black;
}

/* NETWORK */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

/* BATTERY */
#battery.critical:not(.charging) {
  background-color: @red;
}

/* CLOCK */
#clock {
  color: @yellow;
}

/* NOTIFICATIONS */
#custom-notifications.paused {
  color: @bright-black;
}
