// TODO: use theme module
$black: #16161d;
$bright-black: #727169;
$red: #c34043;
$green: #76946a;
$yellow: #c0a36e;
$blue: #7e9cd8;
$magenta: #957fb8;
$cyan: #6a9589;
$white: #c8c093;
$bright-white: #dcd7ba;

$background: $black;
$background-alt: #1f1f28;

* {
  all: unset;
  font-family: "CommitMono Nerd Font Propo";
  color: $bright-white;
}

.desktop-time {
  .time {
    font-weight: bold;
    font-size: 5em;
    margin-bottom: 0.5rem;
  }

  .date {
    font-size: 1.5em;
  }
}

.desktop-fortune {
  font-size: 1.05em;
}

.desktop-player {

  .art {
    background-size: cover;
  }
}

.volume-bar {
  background-color: $background;
  padding: 1.5em;

  .slider {
    margin-bottom: 1em;

    trough {
      background-color: $background-alt;
      min-height: 10em;
      min-width: 1em;

      highlight {
        opacity: 0;
        background-color: $blue;
        min-height: 1em;
      }
    }
  }
}
