@define-color black #16161d;
@define-color bright-black #727169;
@define-color red #c34043;
@define-color bright-red #e82424;
@define-color green #76946a;
@define-color bright-green #98bb6c;
@define-color yellow #c0a36e;
@define-color bright-yellow #e6c384;
@define-color blue #7e9cd8;
@define-color bright-blue #7fb4ca;
@define-color magenta #957fb8;
@define-color bright-magenta #938aa9;
@define-color cyan #6a9589;
@define-color bright-cyan #7aa89f;
@define-color white #c8c093;
@define-color bright-white #dcd7ba;

@define-color background #1f1f28;
@define-color foreground @bright-white;

/* GENERAL */
* {
  font-family:
    JetBrainsMonoNL Nerd Font Propo,
    monospace;
  font-size: 10pt;
  color: inherit;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-sysmenu,
#tray,
#language,
#custom-media,
#submap,
#workspaces,
#pulseaudio,
#battery,
#temperature,
#network,
#clock,
#custom-power {
  padding: 0 10px;
}

/* SYSMENU */
#custom-sysmenu {
  padding: 0 10px;
  color: @bright-cyan;
  font-size: 1.3em;
}

/* TRAY */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* LANGUAGE */
#language {
  color: @white;
}

/* MEDIA */
#custom-media {
  color: @bright-magenta;
}

#custom-media.paused {
  color: @bright-black;
}

#custom-media.inactive {
  background-color: transparent;
  color: transparent;
  font-size: 0;
}

/* SUBMAP */
#submap {
  background-color: @magenta;
  color: @black;
}

/* WORKSPACES */
#workspaces {
  padding: 0 24px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces button.empty:not(.active) {
  color: @bright-black;
}

#workspaces button.urgent {
  color: @bright-yellow;
}

/* PULSEAUDIO */
#pulseaudio.muted {
  color: @bright-black;
}

/* NETWORK */
#network {
  color: @bright-green;
}

#network.disconnected {
  color: @red;
}

/* TEMPERATURE */
#temperature {
  color: @bright-blue;
}

#temperature.critical {
  background-color: @red;
  color: @foreground;
}
/* BATTERY */
#battery.critical:not(.charging) {
  background-color: @red;
}

/* CLOCK */
#clock {
  color: @bright-yellow;
}
