/* GENERAL */
* {
  font-size: 10pt;
  color: inherit;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-sysmenu,
#tray,
#language,
#custom-media,
#submap,
#workspaces,
#pulseaudio,
#battery,
#temperature,
#network,
#clock,
#custom-power {
  padding: 0 10px;
}

/* SYSMENU */
#custom-sysmenu {
  color: @cyan;
  font-size: 1.3em;
}

/* TRAY */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

/* LANGUAGE */
#language {
  color: @white;
}

/* MEDIA */
#custom-media {
  color: @magenta;
}

#custom-media.paused {
  color: @bright-black;
}

#custom-media.inactive {
  background-color: transparent;
  color: transparent;
  font-size: 0;
}

/* SUBMAP */
#submap {
  background-color: @magenta;
  color: @black;
}

/* WORKSPACES */
#workspaces {
  padding: 0 24px;
}

#workspaces button {
  padding: 0 8px;
}

#workspaces button.empty:not(.active) {
  color: @bright-black;
}

#workspaces button.urgent {
  color: @yellow;
}

/* PULSEAUDIO */
#pulseaudio.muted {
  color: @bright-black;
}

/* NETWORK */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

/* TEMPERATURE */
#temperature {
  color: @blue;
}

#temperature.critical {
  background-color: @red;
  color: @foreground;
}
/* BATTERY */
#battery.critical:not(.charging) {
  background-color: @red;
}

/* CLOCK */
#clock {
  color: @yellow;
}
