snippet guard "Header guard" b
#ifndef $1
#define $1

$0

#endif
endsnippet

snippet incs "Include system header" b
#include <$1>
$0
endsnippet

snippet incf "Include file" b
#include "$1"
$0
endsnippet

snippet get "Attribute getter" b
$1 get_$2() {
	return this->$2;
}
endsnippet

snippet set "Attribute setter" b
void set_$2($1 $2) {
	this->$2 = $2;
}
endsnippet

snippet getset "Attribute getter and setter" b
$1 get_$2() {
	return this->$2;
}

void set_$2($1 $2) {
	this->$2 = $2;
}
endsnippet
