@theme "kanagawa"

listview {
  columns: 6;
  lines: 4;
}

element {
  orientation: vertical;
  padding: 8px 16px;
}

element-text {
  horizontal-align: 0.5;
}

element-icon {
  padding: 0 4px 0 0;
  size: 2.5em;
}

element-text {
  font: "JetBrainsMonoNL Nerd Font 10";
}
