/**
 * @name system24
 * @description A tui-style discord theme.
 * @author refact0r
 * @version 1.0.0
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/system24
 * @source https://github.com/refact0r/system24/blob/master/system24.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url("https://refact0r.github.io/system24/src/main.css"); /* main theme css. DO NOT REMOVE */

/* customize things here */
:root {
  --font: "JetBrainsMonoNL Nerd Font Propo"; /* UI font name. it must be installed on your system. */
  letter-spacing: -0.075ch; /* decreases letter spacing for better readability. */
  font-weight: 300; /* UI font weight. */
  --label-font-weight: 500; /* font weight for panel labels. */
  --corner-text: "system24"; /* custom text to display in the corner. only works on windows. */
  --pad: 12px; /* padding between panels. */
  --txt-pad: 10px; /* padding inside panels to prevent labels from clipping */
  --panel-roundness: 0px; /* corner roundness of panels. ONLY WORKS IF unrounding.css IS REMOVED (see above). */

  /* background colors */
  --bg-0: #1f1f28; /* main background color. */
  --bg-1: #16161d; /* background color for secondary elements like code blocks, embeds, etc. */
  --bg-2: #2a2a37; /* color of neutral buttons. */
  --bg-3: #363646; /* color of neutral buttons when hovered. */

  /* state modifiers */
  --hover: oklch(54% 0 0 / 0.1); /* color of hovered elements. */
  --active: oklch(54% 0 0 / 0.2); /* color of elements when clicked. */
  --selected: var(--active); /* color of selected elements. */

  /* text colors */
  --txt-dark: var(--bg-0); /* color of dark text on colored backgrounds. */
  --txt-link: #7fb4ca; /* color of links. */
  --txt-0: #dcd7ba; /* color of bright/white text. */
  --txt-1: #dcd7ba; /* main text color. */
  --txt-2: #c8c093; /* color of secondary text like channel list. */
  --txt-3: #54546d; /* color of muted text. */

  /* accent colors */
  --acc-0: #7e9cd8; /* main accent color. */
  --acc-1: #9cabca; /* color of accent buttons when hovered. */
  --acc-2: var(--acc-1); /* color of accent buttons when clicked. */

  /* borders */
  --border-width: 2px; /* panel border thickness. */
  --border-color: var(--bg-3); /* panel border color. */
  --border-hover-color: var(--acc-0); /* panel border color when hovered. */
  --border-transition: 0.2s ease; /* panel border transition. */

  /* status dot colors */
  --online-dot: #76946a; /* color of online dot. */
  --dnd-dot: #c34043; /* color of do not disturb dot. */
  --idle-dot: #c0a36e; /* color of idle dot. */
  --streaming-dot: #957fb8; /* color of streaming dot. */

  /* mention/ping and message colors */
  --mention-txt: var(--acc-0); /* color of mention text. */
  --mention-bg: color-mix(
    in oklch,
    var(--acc-0),
    transparent 90%
  ); /* background highlight of mention text. */
  --mention-overlay: color-mix(
    in oklch,
    var(--acc-0),
    transparent 90%
  ); /* overlay color of messages that mention you. */
  --mention-hover-overlay: color-mix(
    in oklch,
    var(--acc-0),
    transparent 95%
  ); /* overlay color of messages that mention you when hovered. */
  --reply-overlay: var(
    --active
  ); /* overlay color of message you are replying to. */
  --reply-hover-overlay: var(
    --hover
  ); /* overlay color of message you are replying to when hovered. */
}
